#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.canvas{
  border: 3px solid ;
  border-color: orangered;
  background-color: white;
  border-radius: 10px;
  width: 1100px;
  /* height:   700px; */
  display: flexbox;
  padding: 0px 25px;
}

.card-body{
display: flex;
justify-content: center;
height:70% ;

margin-bottom: 50px;

}
.info-card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  height: 100%;
  padding-bottom: 1%;
  
}
.nav{
  margin: 2%;
}
.week-card{
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  height: 60px;
  border: 2px solid orangered;
  border-radius: 5px;
  margin: 5px 0px;
  padding: 1% 0%;
  padding-top: 3%;
  padding-bottom: 5%;
  /* background-color: rgba(255, 68, 0, 0.375); */

}
.week-card:hover{
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  height: 60px;
  border: 2px solid white;
  border-radius: 5px;
  background-color: rgba(255, 68, 0, 0.617);
  border-color: black;
  margin: 5px 0px;
  padding: 1% 0%;
  padding-top: 3%;
  padding-bottom: 5%;

}
.inner-week-card{
  display: flex;
  /* justify-content: space-around; */
  flex-direction: column;
}
.inner-current-card{
  height: 33%;
}
.air-condition-card{
  display: flex;
  flex-direction: column;
}
.today-forecast-card{
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 10px;
  width: 14%;
  height: 100%;
  margin: 0px 6px;
}